body {
  background:#222;
  color:#fff;
}

.header-site {
  background:#333;

}
.inside-header {
    display: flex;
    padding:40px;
}
.h1-site {
  flex: 0 0 80%;
}
.slides {
  font-size:32px;
  padding:30px 0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.9);
}
.slide-title {
  text-align: center;
  text-transform: uppercase;
  border-bottom:1px solid #fff;
  padding-bottom:10px;
}

.exemplos-boxes {
  background:#eee;
  color:#444;
  padding:20px;
}

.row-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.exemplos-boxes .box {
  color:#00C;
  border:1px solid #00C;
  width:30%;
  height:100px;
  flex-basis:24%;
}

.exemplo-p {
  border:1px solid #444;
  margin:10px 0;
}
.seletores {
    color:#00C;
    font-size:12px;
}

.form-seletor {
  padding:20px;
}
.funcao-utilizada {
  display: none;
}

.exemplos-boxes .selected {
  border:1px solid red !important;
}

.text-area-exemplo-2 {
  width:100%;
  height:100px;
}

.row-boxes-exemplo-3 {
  justify-content: flex-start;
}

.row-boxes-exemplo-3 .box{
  margin-right: 15px;
  transition:all 0.2s linear;
  background:#fff;
}

.row-boxes-exemplo-3 .box.active {
  background:#00c;
  color:#fff;
  border-color:#fff;
}
.row-boxes-exemplo-3 .box.active .seletores{
  color:inherit;
}
